blockquote,
body,
button,
dd,
dl,
dt,
fieldset,
form,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
input,
legend,
li,
ol,
p,
pre,
td,
textarea,
th,
ul {
  margin: 0;
  padding: 0;
}

body,
button,
input,
select,
textarea {
  font:
    12px/1.5 system-ui,
    -apple-system,
    Segoe UI,
    Roboto,
    Ubuntu,
    Cantarell,
    Noto Sans,
    sans-serif,
    Apple Color Emoji,
    Segoe UI Emoji,
    Segoe UI Symbol,
    Noto Color Emoji,
    BlinkMacSystemFont,
    Helvetica Neue,
    Arial,
    PingFang SC,
    PingFang TC,
    PingFang HK,
    Microsoft Yahei,
    Microsoft JhengHei;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

code,
kbd,
pre,
samp {
  font-family:
    courier new,
    courier,
    monospace;
}

small {
  font-size: 12px;
}

ol,
ul {
  list-style: none;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
  text-decoration: none !important;
}

a:focus {
  outline: none;
}

sup {
  vertical-align: text-top;
}

sub {
  vertical-align: text-bottom;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

button,
input,
select,
textarea {
  font-size: 100%;
}

button {
  border-radius: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body,
html {
  overflow-x: hidden;
}

body {
  -webkit-font-smoothing: antialiased;
  background-color: #fff;
}

body a {
  cursor: pointer;
}

body a:focus,
body area {
  outline: none;
}

body.disable-hover {
  pointer-events: none;
}

.fl {
  display: inline;
  float: left;
}
